* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

main {
	padding: 20px;
}

section {
	display: flex;
	flex-wrap: wrap;
}

#content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	min-width: 100%;
}

.content-item {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.33% - 10px);
	flex: 1 0 20%; 
	margin: auto;
  margin-bottom: 20px;
}

.content-item img {
  width: 80%;
  height: auto;
}

.content-item h2 {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.2;
}


.content-item h2 {
	margin-top: 10px;
	font-size: 18px;
	text-align: center;
}

.sorting {
	margin-bottom: 10px;
}

#pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.page-link {
	padding: 5px 10px;
	margin-right: 5px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.page-link.active {
	background-color: #007bff;
}




